<ion-content *ngIf="!!user">
  <ion-grid fixed>

    <ion-row>
      <ion-col class="text-center">
        <img class="float-left" src="/assets/back.png" style="width: 10px;margin-top:5px" (click)="back()">
        <img src="/assets/title.png" style="width: 80px;">
        <div class="float-right" style="color:#999999;margin-top: 6px;" (click)="goToMyinfo()">
          <img [src]="user.image" width="40px">
          <ion-label>{{user.name}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <hr style="margin: 0px;">

    <ion-row>
      <ion-col class="text-center">
        <img src="/assets/input.png" style="width: 260px;height: 17px;"><br><br>
        <img [src]="image" style="height: 250px;border: 1px solid #d6d6d6">
      </ion-col>
    </ion-row>
    <br>

    <ion-row>
      <ion-col>
        <p style="font-size: 15px;font-weight: 400;color: grey;">재활용 종류를 선택하고 수량을 입력해주세요</p>
        <div class="category">
          <p *ngFor="let category of categoryList">
            <ion-badge color="light" (click)="onSelectCategory(category)" style="font-size:18px;">{{category}}
            </ion-badge>&nbsp;
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 30px;margin-top: -10px;">
      <ion-col>
        <form [formGroup]="form">
          <div formArrayName="items" *ngFor="let item of form.get('items')['controls']; let i = index;">
            <div [formGroupName]="i" style="display: flex;">
              <div>
                <ion-label position="floating">{{form.value.items[i].category}} 수량</ion-label>
                <ion-input type="number" [formControlName]="'category'" hidden></ion-input>
                <input class="form-control" tyep="number" min="1" [formControlName]="'count'">
              </div>
              <ion-button slot="end" size="small" style="margin-top:28px" (click)="minusItem(i)" color="medium">x
              </ion-button>
              <hr>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        <img src="/assets/upload.png" style="width:244px" (click)="add()">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>