<ion-content *ngIf="!!user">
  <ion-grid fixed>

    <ion-row>
      <ion-col class="text-center">
        <img class="float-left" src="/assets/back.png" style="width: 10px;margin-top:5px" (click)="back()">
        <img src="/assets/title-2.png" style="width: 30px;">
        <div class="float-right" style="color:#999999;margin-top: 6px;" (click)="goToMyinfo()">
          <img [src]="user.image" width="40px">
          <ion-label>{{user.name}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <hr style="margin: 0px;">

    <ion-row>
      <ion-col>
        <p style="color:#777777">전체 재활용 수: {{count|number}} 개</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>지역 별 재활용 수</p>
        <table class="table">
          <tr>
            <th>지역</th>
            <th>개수</th>
          </tr>
          <tr *ngFor="let localeStatic of localeStatics">
            <td>{{localeStatic.locale}}</td>
            <td>{{localeStatic.total}}</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>지역 별 유저 랭킹</p>
        <p style="font-size: 13px;font-weight: 400;color: grey;">지역 별 유저 랭크서비스 준비 중입니다.</p>
        <table class="table" style="opacity: 30%;">
          <tr>
            <th>지역</th>
            <th>랭커</th>
          </tr>
          <tr>
            <td>서울특별시</td>
            <td>홍길동</td>
          </tr>
          <tr>
            <td>경기도</td>
            <td>아무개</td>
          </tr>
          <tr>
            <td>전리도</td>
            <td>이상훈</td>
          </tr>
          <tr>
            <td>충청도</td>
            <td>신형섭</td>
          </tr>
          <tr>
            <td>경상도</td>
            <td>박희수</td>
          </tr>
          <tr>
            <td>강원도</td>
            <td>아무개</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>