<ion-content *ngIf="!!user">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="text-center">
        <img class="float-left" src="/assets/back.png" style="width: 10px;margin-top:5px" (click)="back()">
        <img src="/assets/mypage.png" style="width: 80px;">
        <div class="float-right" style="color:#999999;margin-top: 6px;">
          <img [src]="user.image" width="40px">
          <ion-label>{{user.name}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <hr style="margin: 0px;">

    <ion-row style="margin-top:20px;margin-left:5px">
      <ion-col>
        <img src="/assets/myscore.png" style="width: 140px;margin-left: 20px;margin-bottom: 10px;"><br>
        <img src="/assets/recycle.png" style="width: 41px;margin-top: -10px;">
        <span class="point">{{user.point|number}}</span>&nbsp;
        <span class="point-text" style="color: #999999;">포인트</span>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top:9px;margin-left:5px">
      <ion-col>
        <div style="overflow-y:scroll;height:430px">
          <div *ngFor="let recycle of recycles">
            <div class="row">
              <div class="col">
                <span
                  style="color:#333333; float: left;font-size: 14px;letter-spacing: -0.04em;">{{recycle.time|date:'yyyy-MM-dd HH:mm'}}</span>
                <span style="color:#23A9C7; float: right;font-size: 15px;" (click)="goDetail()">상세보기</span>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col">
                <div *ngFor="let item of recycle.items">
                  <p style="margin:0px;color:#999999;font-size:17px">{{Category[item.category]}} X {{item.count}}</p>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col">
                <img src="/assets/tag.png" style="width:50px">
                <span class="float-right" style="color:#FFAD33;font-size: 16px;">{{recycle['total']}} <span
                    style="color:#999999;font-size: 12px;">포인트</span></span>
              </div>
            </div>
            <hr style="margin-top:18px">
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="text-align: center;">
      <ion-col>
        <img src="/assets/refund.png" style="width:160px" (click)="trans()">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">규칙</h4>
  </div>
  <div class="modal-body">
    1. 비우기
    2. 씻기
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close()">확인</button>
  </div>
</ng-template> -->