<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="text-center">
        리사이클 챌린지
        <div class="float-right">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>홍길동</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center">
        1000점
        <img [src]="image" height="500px">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center">
        <ion-button color="success" (click)="open(template)">재활용하기</ion-button>
        <ion-button color="success">평가하기</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">규칙</h4>
  </div>
  <div class="modal-body">
    1. 비우기
    2. 씻기
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close()">확인</button>
  </div>
</ng-template>