.point {
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: bold;
    color: #FFAD33;
    font-size: 54px;
    margin: 0px;
}

.point-text {
    font-size: 20px;
    margin-top: -13px;
}

.btn-orange {
    background: #FFAD33;
    border-radius: 4px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}